<p>Hi, I'm Amber. I attended college in the heart of Silicon Valley (go Cardinal!), and then I spent several years living in DC where I attended graduate school. My research has taken me around the world from Mexico to Uganda and back to the US. I currently live and work in New York City.</p> 
<p>I leverage my background in social sciences and economics to take a mixed methods approach to my work. I drive research end-to-end throughout the product development lifecycle, manage researchers, and mentor cross-functional colleagues on best practices in research.</p>

